@{
    ViewData["Title"] = "Home Page";
}

<div class="all-products page visible">
    <div class="filters">
        <form>
            <div class="filter-criteria">
                <span>Manufacturer</span>
                <label><input type="checkbox" name="manufacturer" value="apple">Apple</label>
                <label><input type="checkbox" name="manufacturer" value="samsung">Samsung</label>
                <label><input type="checkbox" name="manufacturer" value="htc">HTC</label>
                <label><input type="checkbox" name="manufacturer" value="nokia">Nokia</label>
                <label><input type="checkbox" name="manufacturer" value="zte">ZTE</label>
                <label><input type="checkbox" name="manufacturer" value="sony">Sony</label>
            </div>

            <div class="filter-criteria">
                <span>Storage</span>
                <label><input type="checkbox" value="16" name="storage">16 GB</label>
                <label><input type="checkbox" value="32" name="storage">32 GB</label>
            </div>

            <div class="filter-criteria">
                <span>OS</span>
                <label><input type="checkbox" value="android" name="os">Android</label>
                <label><input type="checkbox" value="ios" name="os">iOS</label>
                <label><input type="checkbox" value="windows" name="os">Windows</label>
            </div>

            <button id="clear_filters" class="btn btn-primary">Clear filters</button>
        </form>
    </div>

    <!-- Product in catalog -->
    <ul class="products-list">
        <li id="products-template" data-index="1">
            <a href="#product/1">
                <div class="product-photo"><img src="~/images/sony-xperia-z3.jpg" height="130" alt="Sony Xperia Z3"/></div>
                <h2>Sony Xperia Z3</h2>
                <div class="product-description">
                    <button class="btn btn-primary">Buy</button>
                    <p class="product-price">899 €</p>
                </div>
                <div class="highlight"></div>
            </a>
        </li>
    </ul>

</div>
<!-- Product view -->
<div class="single-product page" id="1">
    <div class="overlay"></div>
    <div class="preview-large">
        <h3>Sony Xperia Z3</h3>
        <img src="~/images/sony-xperia-z3-large.jpg"/>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tristique ipsum in efficitur pharetra.
            Maecenas luctus ante in neque maximus, sed viverra sem posuere. Vestibulum lectus nisi, laoreet vel suscipit nec, feugiat at odio. Etiam eget tellus arcu.
        </p>
        <span class="close">×</span>
    </div>
</div>
